openapi: 3.0.3
info:
  title: NIST National Vulnerability Database (NVD) CPE CVE History API
  description: The National Vulnerability Database (NVD) API, operated by the National Institute of Standards and Technology, provides programmatic access to Common Vulnerabilities and Exposures (CVE) records, CVE change history, and Common Platform Enumeration (CPE) records. The API supports pagination, filtering, and date-range queries for vulnerability and product data.
  version: 2.0.0
  contact:
    name: NIST NVD
    url: https://nvd.nist.gov/developers
servers:
- url: https://services.nvd.nist.gov
  description: NVD production services
tags:
- name: CVE History
  description: CVE change history events
paths:
  /rest/json/cvehistory/2.0:
    get:
      tags:
      - CVE History
      summary: Retrieve CVE change history
      description: Retrieve change events for CVE records, optionally filtered by CVE identifier, event name, and change date range.
      operationId: getCveHistory
      parameters:
      - name: changeStartDate
        in: query
        description: Change event start date (max 120-day range).
        schema:
          type: string
          format: date-time
      - name: changeEndDate
        in: query
        schema:
          type: string
          format: date-time
      - name: cveId
        in: query
        schema:
          type: string
      - name: eventName
        in: query
        description: Filter by event type such as CVE Received, Initial Analysis, Reanalysis, CVE Modified, Modified Analysis, CVE Translated, Vendor Comment, CVE Source Update, CPE Deprecation Remap, CWE Remap, Reference Tag Update, CVE Rejected, CVE Unrejected, CVE CISA KEV Update.
        schema:
          type: string
      - name: resultsPerPage
        in: query
        description: Maximum results per page (max 5000).
        schema:
          type: integer
          maximum: 5000
      - name: startIndex
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A paginated CVE change history envelope.
